* {
  box-sizing: border-box;
}
body {
  max-width: 640px;
  margin: 0 auto;
  background-color: #fafafa;
  font-family: Apple SD Gothic Neo;
}
img {
  max-width: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.warp {
  padding-bottom: 72px;
}
.blind {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
}
.title {
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 24px;
}

/* button은 padding으로 값을 주어서 문자 길이 변화에도 대응하게 한다. */
.badges {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 20px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  font-size: 11px;
  color: #000;
  background-color: #fff;
}
.content-section {
  margin-top: 32px;
  margin-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

/* 공통된 section은 따로 빼놓아서 재활용한다. */
.list-thumb-box {
  margin: 0 -20px;
  padding-left: 20px;
  overflow: hidden;
  overflow-x: scroll;
}
.list-thumb-box .list-thumb {
  width: 2020px;
}
.list-thumb-box .list-thumb li {
  display: inline-block;
  width: 142px;
  margin-right: 12px;
}
.list-thumb-box .link-info {
  margin-top: 20px;
}
.list-thumb-box .link-info .link-text {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.header-section {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 640px;
  padding: 24px 20px 14px;
}
.header-section .logo {
  width: 100px;
}
.header-section .nav-area {
  margin: 20px -20px 8px;
  overflow: hidden;
  overflow-x: auto;
}
.header-section .nav-link-area {
  width: 500px;
  padding-left: 20px;
}
.header-section .nav-link-area .btn-link {
  display: inline-block;
  padding: 9px 20px 8px;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50px;
  text-align: center;ㅇ
  margin-right: 8px;
  font-size: 16px;
  font-weight: bold;
}
.header-section .nav-link-area .btn-link.on,
.header-section .nav-link-area .btn-link:hover {
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}

.main-banner-section {
  padding-top: 115px;
  background: radial-gradient(
    72.24% 73.35% at 11.2% 10.73%,
    #ff99a1 0.01%,
    #d561ff 63.02%,
    #a839ff 100%
  );
}
.main-banner-section .main-banner img {
  vertical-align: bottom;
}

/* menu */
.menu-section {
  background-color: #fff;
  border-bottom: 1px solid #fafafa;
  padding: 24px 8px 24px;
}
.menu-section .menu {
  overflow: hidden;
}
.menu-section .menu li {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
  margin-bottom: 16px;
}
.menu-section .menu li img {
  width: 36px;
  height: 36px;
}
.menu-section .menu li .btn-menu {
  display: inline-block;
}
.menu-section .menu li .menu-text {
  margin-top: 4px;
  text-align: center;
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.4);
}

/* place-banner */
.place-banner-section {
  padding: 24px 20px 14px;
}

/* event-banner */
.event-banner-section {
  width: 100%;
  height: 100%;
}

/* today-sale */
.card-thumb-box {
  position: relative;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.card-thumb-box .badges-area {
  position: absolute;
  left: 16px;
  top: 16px;
}
.card-thumb-box .card-info {
  padding: 24px 24px;
}
.card-thumb-box .card-info .place-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.pin-area {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.pin-area .pin {
  width: 18px;
}
.pin-area .place {
  margin-left: 8px;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}
.price-area {
  margin-top: 4px;
  text-align: right;
}
.price-area .discount-price-area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.price-area .discount-price-area .percent {
  color: red;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}
.price-area .discount-price-area .price {
  color: gray;
  font-size: 14px;
  text-decoration: line-through;
}
.price-area .discount-price {
  margin-top: 4px;
  font-size: 18px;
  font-weight: bold;
}

/* new-place-banner */
.new-place-section-banner{
  padding: 24px 20px 14px;
}

/* bottom-menu */
.bottom-menu-section {
  position: fixed;
  bottom: 0px;
  max-width: 640px;
  width: 100%;
}
.bottom-menu-section .bottom-menu-bar {
  background: #ffffff;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0px 0px;
  clear: both;
  overflow: hidden;
  padding: 18px 20px 12px;
}
.bottom-menu-section .bottom-menu-bar li {
  display: inline-block;
  float: left;
  width: 20%;
  text-align: center;
  /* background-color: blueviolet; */
}
.bottom-menu-section .bottom-menu-bar li .bottom-menu-btn {
  display: inline-block;
}
.bottom-menu-section .bottom-menu-bar li .bottom-menu-btn img {
  height: 24px;
  width: 24px;
}
.bottom-menu-section .bottom-menu-bar li .bottom-menu-text {
  display: block;
  color: gray;
  font-size: 12px;
}
.bottom-menu-section .bottom-menu-bar li .bottom-menu-text:hover {
  color: black;
}